.nav.metismenu{
  display: inherit;
}
.pagination ul.pagination li {
    display: inline;
}
.pagination ul.pagination li:first-child a {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    margin-left: 0;
}
.pagination ul.pagination li a {
    color: #85ce36;
}
.pagination ul.pagination li a {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    line-height: 1.5;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-decoration: none;
}
.pagination ul.pagination li:last-child a {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.pagination ul.pagination li a:hover,.pagination ul.pagination li.active a {
    background-color: #85ce36;
    border-color: #85ce36;
    color: #fff;
}
.pagination ul.pagination li.disabled a,.pagination ul.pagination li.disabled a:hover{background-color: #59b522;
color: #fff;cursor: default;border: 1px solid #85ce36;}
.body_stats .form-control.boxed {
    margin: 20% auto;
    vertical-align: middle;
}
.field_with_errors label.col-sm-4 {
    max-width: 100%;
    width: 100%;
}
.form-group.row > .field_with_errors {
    width: 110px;
}
.field_with_errors .form-control {
    border-color: #ff4444;
}
.arrowContainer {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin: 0 8px 0 15px;
    position: relative;
    width: 12px;
}
.arrowContainer.red div {
    background-color: #cc0400;
}
.arrowContainer.green div {
    background-color: #62bd19;
}
.arrowContainer.up div {
    bottom: 0;
}
.arrowContainer div::after {
    border-bottom: 15px solid #747474;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    left: -5px;
    position: relative;
    top: 15px;
    transform: rotate(180deg);
    width: 0;
}
.arrowContainer.up div::after {
    top: -15px;
    transform: rotate(0deg);
}
.arrowContainer.green div::after {
    border-bottom: 15px solid #62bd19;
}
.arrowContainer.red div::after {
    border-bottom: 15px solid #cc0400;
}
.top_mar_20px {
    margin-top: 20px;
}
.col-sm-8.middle-align {
    margin: auto;
    vertical-align: middle;
}
.padding_20px{padding: 20px;}
.margin_left_20px{margin-left: 20px;}
.form-inline.weight .form-group > label {
    display: inline;
}
@media print{
  #pdf_link , .card-footer{ display: none;}
  header.header{display: none;}
  .app { background-color: #ffffff; }
  .app .content{padding-top: 0px;}
  .card .card-header .header-block{padding: 0.5rem 0px}
  .card-block{padding: 0px}
  .weight_reoprt{display: none;}
}
