.nav.metismenu{
  display: inherit;
}
.pagination ul.pagination li {
    display: inline;
}
.pagination ul.pagination li:first-child a {
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    margin-left: 0;
}
.pagination ul.pagination li a {
    color: #85ce36;
}
.pagination ul.pagination li a {
    background-color: #fff;
    border: 1px solid #ddd;
    float: left;
    line-height: 1.5;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-decoration: none;
}
.pagination ul.pagination li:last-child a {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.pagination ul.pagination li a:hover,.pagination ul.pagination li.active a {
    background-color: #85ce36;
    border-color: #85ce36;
    color: #fff;
}
.pagination ul.pagination li.disabled a,.pagination ul.pagination li.disabled a:hover{background-color: #59b522;
color: #fff;cursor: default;border: 1px solid #85ce36;}
.body_stats .form-control.boxed {
    margin: 20% auto;
    vertical-align: middle;
}
.field_with_errors label.col-sm-4 {
    max-width: 100%;
    width: 100%;
}
.form-group.row > .field_with_errors {
    width: 110px;
}
.field_with_errors .form-control {
    border-color: #ff4444;
}
