.row
  .col-xs-12
    - flash.each do |name,msg|
      %div{:class => "alert alert-#{"#{name}"}"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
